body {
    background-color: white;
}
.container {
     background-color: white;
     justify-content: center;
     width: 50%;
     display: inline-block;
     border: 1px solid#ccc;
     margin-left: 26%;
     margin-top: 5%;
     text-align: center;
}
h1{
    display: inline-block;
    border: 1px solid #ccc;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=mobilenumber], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=username], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    width: 30%;
    padding: 12px 20px;
    background-color: #4caf50;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

















    
